.rb-brand-list{
    .et-isotope-item{
        .brand-image{
            display: block;
            padding-bottom: 50%;
            background-size: 60% auto;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    .capital-letter{
        
            color: $complementary-color;
            font-weight: 700;
            font-size: 2.857rem;
            line-height: 1.55;
        
    }
}