#float-whatsapp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    text-align: right;
    @include respond-below(md){
        bottom: 45px
    }
    #float-whatsapp-text{
        margin-right: 5px;
        @include respond-below(md){
            display:none;
        }
    }
    #float-whatsapp-img{
        width: 40px;
        height: 40px;
    }
}

.et_b_header-cart.et-off-canvas .woocommerce-mini-cart__footer-wrapper,
.et_b_mobile-panel-cart .woocommerce-mini-cart__footer-wrapper,
.et-mini-content .woocommerce-mini-cart__footer-wrapper
{
    padding-bottom: 60px;
}
