<!-- Template user -->
<style>
    body {
    padding: 0;
    }

    #wrapper {
    background-color: #f7f7f7;
    margin: 0;
    padding: 70px 0;
    -webkit-text-size-adjust: none !important;
    width: 100%;
    }

    #template_container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 3px !important;
    }

    #template_header {
    background-color: #f8e08e;
    border-radius: 3px 3px 0 0 !important;
    color: #3c3c3c;
    border-bottom: 0;
    font-weight: bold;
    line-height: 100%;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    }

    #template_header h1,
    #template_header h1 a {
    color: #3c3c3c;
    }

    #template_header_image img {
    width: 150px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    }

    #template_footer td {
    padding: 0;
    border-radius: 6px;
    }

    #template_footer #credit {
    border: 0;
    color: #a2a2a2;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    padding: 24px 0;
    }

    #template_footer #credit p {
    margin: 0 0 16px;
    }

    #body_content {
    background-color: #ffffff;
    }

    #body_content table td {
    padding: 48px 48px 32px;
    }

    #body_content table td td {
    padding: 12px;
    }

    #body_content table td th {
    padding: 12px;
    }

    #body_content td ul.wc-item-meta {
    font-size: small;
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
    }

    #body_content td ul.wc-item-meta li {
    margin: 0.5em 0 0;
    padding: 0;
    }

    #body_content td ul.wc-item-meta li p {
    margin: 0;
    }

    #body_content p {
    margin: 0 0 16px;
    }

    #body_content_inner {
    color: #6f6f6f;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    }

    .td {
    color: #6f6f6f;
    border: 1px solid #e6e6e6;
    vertical-align: middle;
    }

    .address {
    padding: 12px;
    color: #6f6f6f;
    border: 1px solid #e6e6e6;
    }

    .text {
    color: #3c3c3c;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    }

    .link {
    color: #f8e08e;
    }

    #header_wrapper {
    padding: 36px 48px;
    display: block;
    }

    h1 {
    color: #f8e08e;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
    text-align: left;
    text-shadow: 0 1px 0 #fffaa8;
    }

    h2 {
    color: #f8e08e;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 130%;
    margin: 0 0 18px;
    text-align: left;
    }

    h3 {
    color: #f8e08e;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 130%;
    margin: 16px 0 8px;
    text-align: left;
    }

    a {
    color: #202020;
    font-weight: normal;
    text-decoration: underline;
    }

    img {
    border: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: middle;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
    }
</style>

<div id="wrapper" dir="ltr">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container">
                    <tr>
                        <td align="center" valign="top">
                            <!-- Header -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="template_header">
                                <tr>
                                    <td id="header_wrapper">
                                        <h1>Haz agendado una Cita a Showroom en Rebloom</h1>
                                    </td>
                                </tr>
                            </table>
                            <div id="template_header_image">
                                <p style="margin-top:0;"><img src="https://rebloom.dgk.com.mx/wp-content/uploads/2020/06/rebloom_logo.png" alt="rebloom logo" /></p>
                            </div>
                            <!-- End Header -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- Body -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body">
                                <tr>
                                    <td valign="top" id="body_content">
                                        <!-- Content -->
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                            <tr>
                                                <td valign="top">
                                                    <div id="body_content_inner">
                                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                                                            <tr>
                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
                                                                    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hola #nombre#,</p>
                                                                    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">haz agendado una cita en el sitio de REBLOOM</p>
                                                                    <p>Enseguida encontrarás los datos de tu reservación:</p>
                                                                    <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Reservación:&nbsp;&nbsp;</strong></td>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#id#</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Fecha: </strong></td>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#date#</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Lugar: </strong></td>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#location_name#</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Dirección: </strong></td>
                                                                                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#location_address#</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- End Content -->
                                    </td>
                                </tr>
                            </table>
                            <!-- End Body -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <!-- Footer -->
                <table border="0" cellpadding="10" cellspacing="0" width="600" id="template_footer">
                    <tr>
                        <td valign="top">
                            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                <tr>
                                    <td colspan="2" valign="middle" id="credit">
                                        <span>En un lapso de 24 a 48 horas recibirás la confirmación de tu cita.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" valign="middle" id="credit">
                                        Encuentranos tambiénn en <a title="Instagram" href="https://www.instagram.com/rebloomofficial/?hl=es-la" target="_blank" rel="noopener">Instagram</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" valign="middle" id="credit">
                                        <span>Si deseas cancelar tu cita <a href="#url_cancel#">da click en este enlace</a></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- End Footer -->
            </td>
        </tr>
    </table>
</div>



<!-- Template admin -->
<table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;">
    <!-- START MAIN CONTENT AREA -->
    <tr>
      <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
          <tr>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
              <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hola,</p>
              <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">se ha agendado una cita en el sitio de REBLOOM</p>
              <p>Enseguida encontrarás los datos de la reservación:</p>
              <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                  <tbody>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Reservación:&nbsp;&nbsp;</strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#id#</td>
                  </tr>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Nombre:&nbsp;&nbsp;</strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#nombre#</td>
                  </tr>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Email</strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#email#</td>
                  </tr>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Teléfono</strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#telefono#</td>
                  </tr>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Fecha: </strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#date#</td>
                  </tr>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Hora: </strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#start# - #end#</td>
                  </tr>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Lugar: </strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#location_name#</td>
                  </tr>
                  <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"><strong>Dirección: </strong></td>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">#location_address#</td>
                  </tr>
                  </tbody>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- END MAIN CONTENT AREA -->
</table>


<!-- START FOOTER -->
<div class="footer" style="clear: both; Margin-top: 10px; text-align: center; width: 100%;">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
        <tr>
            <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                <span class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">Recuerda confirmar la cita.</span>
            </td>
        </tr>
        <tr>
            <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                <span class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">Podrás consultar esta información en el panel administrativo de REBLOOM.</span>
            </td>
        </tr>
    </table>
</div>