$main-color: #f8e08e;
$secondary-color: #c8c9c7;
$complementary-color: #101820;
$bright-color: #f4f9ff;

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);