/*!
 Theme Name:   XStore Child
 Theme URI:    http://8theme.com/
 Description:  XStore Child Theme
 Author:       8theme
 Author URI:   http://8theme.com
 Template:     xstore
 Version:      0.0.1
 Text Domain:  xstore-child
*/

/**abstracts**/
@import
  'abstracts/variables',
  'abstracts/mixins';

// /**components**/
@import
  'components/product',
  'components/infobox',
  'components/survey',
  'components/brand-list',
  'components/appointment-form',
  'components/cart-promo-popup',
  'components/chat',
  'components/footer';

// /**pages**/
@import
  'pages/single-post',
  'pages/checkout';

// PAdding fix para barra inferior en móvil
body{
  @include respond-below(md){
    padding-bottom: 5px;
  }
}

.dokan-form-control:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, textarea.form-control:focus, select:focus {
  box-shadow: none;
  outline: none;
  border-color: $main-color !important;
}

.dokan-form-control, input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="password"], input[type="tel"], input[type="url"], select{
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-group select{
  width: 100%;
}

.swiper-slide{
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

.g-recaptcha, .anr_captcha_field {
  display: inline-block;
}
.woocommerce-checkout-payment{
  ul.wc_payment_methods{
    li.wc_payment_method{
      padding: 5px 0;
      border-bottom: 1px solid $main-color;
      margin: 13px 0;
      input.input-radio{
        vertical-align: top;
        margin-top: 8px;
      }
    }
  }
}

.et-off-canvas.et_b_header-account input#rememberme + span{
  max-width: 150px;
}

.mobile-centered{
  @include respond-below(md){
    text-align: center !important;
    justify-content: center !important;
  }
}

.archive.woocommerce-page.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider):not(.etheme_widget_satick_block) > ul{
  margin-bottom: 1em !important;
}

//main
.content-product {
  .products-page-cats {
    text-transform: uppercase;
    color: #9a9a9a;
    font-size: 12px;
    line-height: 2;

    a {
      text-transform: uppercase;
      color: #9a9a9a;
      font-size: 12px;
      line-height: 2;
    }
  }

  .product-title a {
    font-family: 'Montserrat';
    line-height: 3.5 !important;
  }

  .products-page-brands{
    a{
      display: inline-block;
      padding: 3px 0;
    }
  }
}

/*  =====  Single product ===== */

.single-product {
  .product-information {
    text-align: center;

    table.variations td {
      &.label, &.value {
        text-align: center;
      }
    }
  }

  .single-tags, .product_meta, .product-share, .wcpv-sold-by-single {
    text-align: center;
  }

  div.quantity {
    float: none;
  }

  .product-information table.variations {
    margin: 0 auto;
  }

  div.quantity {
    margin-right: 0;
  }
}

.single_add_to_cart_button.button {
  margin-right: 0;
}

.product_meta > {
  span, div {
    justify-content: center;
  }
}

.product-share {
  justify-content: center;
}

ul.st-swatch-preview-single-product {
  margin: 0 auto;
  width: 100%;

  ~ a.reset_variations {
    margin: 0;
  }
}

/*  =====  Blog ===== */

.content-grid2 .meta-post-timeline {
  display: none;
}

.single-post.global-post-template-large .header-bottom {
  margin-bottom: 0;
}

.content-grid .post-heading h2, .content-grid2 .post-heading h2 {
  font-size: 1.6rem;
}

/* ==== Mailchimp styles  ==== */

.et-mailchimp {
  &.transparent input[type="email"] {
    border-radius: 50px 0 0 50px;
  }

  &.dark.transparent input[type="submit"] {
    border-radius: 0 50px 50px 0 !important;
  }
}